*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/firebase.properties
/app/google-services.json
/firebase/node_modules/
/firebase/*-debug.log
/firmware/.tools/
/firmware/.build/
/firmware/smart_garden_esp32/config.h
/artifacts/
/context
./agents
skills-lock.json
